.login {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.login-header {
  display: flex;
  justify-content: space-around;

  padding-top: 10px;
}

.login-content {
  display: flex;
  justify-content: center;
}

.login-header > img {
  height: 30px;
  padding-left: 0;
}

.header-buttons {
  display: flex;
}

#join-button {
  margin-right: 10px;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  color: gray;
  width: 100px;
}

#join-button:hover {
  background-color: lightgray;
  color: black;
}

#signin-button {
  color: rgb(5, 142, 233);
  font-size: 16px;
  background-color: white;
  width: 100px;
  border: 1px solid rgb(5, 142, 233);
  border-radius: 25px;
  outline: none;
}

#signin-button:hover {
  background-color: rgb(204, 230, 247);
  border: 2px solid rgb(5, 142, 233);
}

.form-content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.form > p {
  color: rgb(5, 142, 233);
  font-size: 50px;
}
.form > div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
#email-input {
  height: 40px;
  outline: none;
  margin: 10px;
}
#email-input :focus {
  border: 1px solid rgb(5, 142, 233);
}
.password-div {
  display: flex;
  margin: 10px;
  border: 1px solid black;
}
.password-div > input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
}
.password-div > button {
  border: 0;
  background-color: white;
  outline: none;
  padding: 5px;
  color: gray;
  margin: 5px;
  z-index: 1;
}

.show:hover {
  background-color: lightgray;
  color: black;
}

.form > div > a:link {
  margin-left: 10px;
  color: gray;
  text-decoration: none;
  font-size: 16px;
}

.form > div > a:hover {
  text-decoration: underline;
  color: rgb(5, 142, 233);
}

.submit-button {
  background-color: rgb(5, 142, 233);
  height: 45px;
  margin: 15px;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 20px;
}

.submit-button:hover {
  background-color: rgb(6, 113, 212);
}

.background-image {
  width: 40vw;
  margin-top: 100px;
  margin-left: 50px;
  object-fit: cover;
}
