.post-type {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;
  cursor: pointer;
}

.post-type:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.post-type > h4 {
  margin-left: 5px;
}
